/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}body {
  font-family: "";
  font-size: 20px; }
  body p {
    font-size: 15px;
    line-height: 1.5em; }

.header {
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header h1 {
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold; }

footer {
  padding-bottom: 50px; }
  footer p {
    margin: 0 auto 20px; }
  footer button {
    font-size: 18px;
    width: 140px;
    height: 40px;
    margin: 0 10px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer; }
    footer button:hover {
      opacity: 0.75; }
    footer button.tw {
      background-color: #00acee; }
    footer button.fb {
      background-color: #1f6aba; }
    footer button.line {
      background-color: #00c300; }
    footer button.copy {
      background-color: #aaa; }

.painter p {
  margin: 0 auto; }

.painter canvas {
  max-width: 100%;
  height: auto;
  border: 1px solid #999;
  margin: 20px auto 50px; }

.painter input {
  font-size: 20px;
  width: 150px;
  margin: 10px;
  border: 1px solid #aaa; }

.painter label {
  display: inline-block;
  width: 100px; }
  .painter label.second {
    width: 50px; }
