.header {
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
  }

  p {
    font-size: 13px;
  }
}
