.painter {
  p {
    margin: 0 auto;
  }

  .canvas {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid #999;
    margin: 20px auto;
  }

  input {
    font-size: 20px;
    width: 120px;
    margin: 5px;
    border: 1px solid #aaa;
  }

  label {
    display: inline-block;
    width: 110px;

    &.second {
      width: 40px;
    }
  }
}
